*{
    margin: 0;
    padding: 0;

    list-style: none;
}
body{
    background: #f4f4f4;
}

.show{
    opacity: 1 !important;
}
.dang-ki{
    padding-top: 50px;
}
.row {

}
.col-lg-12{
    padding-top: 50px;
    background: #fff;
    text-align: center;
}
