*{
    margin: 0;
    padding: 0;

    list-style: none;
}
body{
    background: #f4f4f4;
}
.row{
    padding: 30px 0 ;
}
.show{
    opacity: 1 !important;
}
.register-form {
    background: #fff;
    border-radius: 10px;
    height: 900px;
}
.form {
    width: 100%;
    height: 100%;
    padding: 50px 30px 0 30px;
}
.form h5 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}
.form-group {
    height: 170px;
    padding: 20px;
    margin-bottom: 0;
    position: relative;
}
.form-group .show-pass {
    position: absolute;
    top: 46%;
    right: 10%;
    font-size: 20px;
    cursor: pointer;
}
.input {
    height:70px ;
    border-radius: 15px;
}
.fa-check , .fa-exclamation-circle{
    margin-right: 10px;
}
.fa-check{
    color: #00ff00;
}
.fa-exclamation-circle{
    color:red;
}



