*{
    margin: 0;
    padding: 0;

    list-style: none;
    font-size: 0.95rem;
}
body{
    background-color: #f6f6f6;

}
/*main-menu*/
.main-menu{
    width: 100%;
    height: 250px;
    padding: 0;

}

.navbar-head {
    width: 100%;
    height: 200px;
    background: url("/web-tin-tuc/Assets/images/bg.jpg");
    background-size: cover;
    padding: 50px;
    display: flex;
    align-items: center;
}
.navbar-head h1{
    color: #fff;
    font-size: 100px;
    font-weight: 900;
}

.navbar-main {
    width: 100%;
    height: 50px;
    padding: 0;
    display: flex;
    background: #fff;
    padding-left: 100px;
    z-index: 1;
    transition: 0.5s ease;
    position: relative;
}
.navigation-bar {
    width: 85%;
    height: 100%;


}
.navbar-main .box-logo
{
    width: 5%;
    height: 100%;
}
.navbar-main .box-control{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-control .wrapp-icon{
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #4facfe;
    cursor: pointer;
}
.box-control .fas {
    position: relative;
    font-size: 25px;

}

.navigation-bar .nav {
    width: 100%;
    height: 100%;
    margin: 0;
}
.nav .nav-item {
    width: 100px;
    height: 50px;

}
.nav-item .nav-link {
    color: black;
    width: 100%;
    height: 48px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav .icon {
    margin-right: 10px;
}
.nav .nav-item:hover {
    border-bottom: 2px solid #4facfe;
}
.nav .nav-item:hover .nav-link{
    color :#4facfe;
}

.box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-logo:hover{
    cursor: pointer;
}
.box-logo i {
    font-size: 20px;
    color:#4facfe;

}

.fix {
    position: fixed;
    top: 0;
    left: 0;
}
.login-form {
    position: absolute;
    right:2%;
    top: 120%;
    padding: 20px;
    background: linear-gradient(125deg,#6a89cc,#b8e994);
    display: none;
    z-index: 0;
    box-shadow: 0 6px 50px 20px rgba(36, 37, 38, 0.08);
    width: 300px ;
    height: 400px;
}
.noti-box , .user-box {
    position: absolute;
    width: 300px;
    background: #fff;
    box-shadow: 0 6px 50px 20px rgba(36, 37, 38, 0.08);
    padding: 10px;
    display: none;
}
.noti-box {
    top: 100%;
    right: 5%;
    overflow: auto;
    height: 400px;

}
.user-box{
    top: 100%;
    right: 2%;
    height: 300px;

}
.wrapp-icon img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.user-item {
    width: 100%;
    height: 60px;
    display: flex;
    cursor: pointer;
    text-decoration: none!important;
    color: black;
    margin-bottom: 10px;
}
.user-box :hover{
    background: #f1f1f1;
}

.user-box img{
    width: 60px;
    height: 60px;
    border-radius: 50%;

}
.user-item i {
    display: flex;
    align-items: center;
    width: 70px;
    justify-content: center;
    font-size: 25px;
}

.user-box span {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}

.noti-box .noti-item {
    width: 100%;
    height: 80px;


}
.show{
    z-index: 1;
    display: block;
}
/*end main-menu*/
/*main-content*/

section {
    width: 100%;
    height: auto;
    padding: 50px 200px;
}
.post-content {
    background: #fff;
    padding: 20px;

}
.post-content .post-head {
    padding: 20px;
    margin-bottom: 30px;
}
.post-content .post-body{
    padding: 20px;
    border-bottom: 1px solid black;
}
.post-content .post-title{
    font-size: 50px;
    margin-bottom: 20px;
}
.author {
    font-size: 15px;
}
.intro {
    margin-bottom: 30px;
}
.post-content img {
    width: 100%;
    margin: 30px 0 ;
}
.comment {
    width: 100%;
    padding: 20px;
}
.comment-head{
    border-left: 5px solid red;
    padding-left: 20px;
}

.comment-head h4 {
    text-transform: uppercase;
    margin-bottom: 50px;
}
.comment-body {
    padding-bottom: 20px;


}
.comment-body textarea{
    width: 100%;
    height: 200px;
    margin-bottom: 15px;
}
.comment-item{
    width: 100%;
    height: auto;
    margin-bottom: 25px;


}
.box-comment {
    width: 100%;
    height: 100px;
    display: flex;
    background-color: #f6f6f6;
    padding: 0 20px;
    position: relative;
    border-radius: 16px;
}
.comment-item .box-image {
    display: flex;
    justify-content: center;
    align-items: center;

}
.comment-item img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.box-content-comment{
    width: calc(100% - 40px);
    padding: 26px;
}
.box-comment .btn {
    position: absolute;
    top: 55%;
    right: 1.5%;
}
.box-reply {
    width: 100%;
    height:auto;
    padding: 20px 0 50px 130px;
}
.box-reply input {
    margin-bottom: 10px;
    height: 50px;
}
.box-reply .btn {
    float: right;
    margin-right: 15px;
}
.list-reply {
    padding-left: 100px;
    height:auto;
}
.list-reply img {
    width: 60px;
    height: 60px;

}
.reply-item {
    display: flex;
    height: 80px;
    background-color: #f6f6f6;
    margin: 15px 0 ;
    border-radius: 16px;
}
.list-reply .reply-image {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-reply .reply-content {
    width: 80%;
    padding: 15px 0 ;
}




